---
layout: home
permalink: /about/
---

<div class="row px-3">
  <div class="card-deck">
    <div class="card">
      <img src="/assets/images/prof.jpg" class="card-img-top px-4 pt-4" alt="it's me">
      <div class="card-body">
        <div class="card-text">
          <p>
            Hello! This is a picture of my face!
          </p>
        </div>
        <div class="card-text d-none d-sm-block">
          <hr>
          <h6>ID Card:</h6>
          <p>
            {% assign curDate='1990-05-24' | date: "%s" %}
            Age: {{ "now" | date: "%s" | minus: curDate | divided_by: 31536000 | round }} Earth Years
          </p>
          <p>
            Location: USA, Earth
          </p>
          <span>Things I Like:</span>
          <ul class="list-unstyled">
            {% for item in site.data.about.likes %}
              <li class="pl-3">{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body p-5">
        <div class="card-text">
          <p>
            My name is {{ site.author }}. I graduated with honors from The Art Institute of Washington,
            where I attained my BFA in Game Art and Design.  I am a former 3D Environment Artist, currently serving
            as the {{ site.employer.job }} at <a href="{{ site.employer.url }}" target="_blank">{{ site.employer.name }}</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mt-3">
  <div class="card-body">
      <div class="card-text text-center">
        <p>I'm also all over the web!  Connect with me!</p>
      </div>
      {% for item in site.social_links %}
        {% assign remainder = forloop.index | minus: 1 | modulo: 4 %}
        {% if forloop.index == 1 %}
          <div class="row justify-content-center">
        {% elsif remainder == 0 %}
          </div>
          <div class="row justify-content-center">
        {% endif %}
        <div class="col-xs-3 m-1">
          <a class="text-secondary" href="{{ item.link }}" target="_blank"><i class="{{ item.icon }} fa-3x"></i></a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
