---
layout: home
---

<div class="card">
  <div class="row">
    <div class="col-sm-3 mb-3">
      <img id="main-prof" class="img-fluid" src="/assets/images/main_prof_hidden.png" alt="selfie">
    </div>
    <div class="col-sm-6 order-first order-sm-0">
      <p>
        Hello! My name is Kevin Aktug.
      </p>
      <p>
        I'm a creative type that lives somewhere
        between design & technology.  This site
        has a sampling of my work.
      </p>
      <p>
        The cat is my buddy, Hobbes.
      </p>
    </div>
    <div class="col-sm-3 mb-3">
      <img id="el-gato" class="img-fluid" src="/assets/images/hobbes_hidden.png" alt="hobbes">
    </div>
  </div>
</div>
<script>
  document.getElementById("main-prof").src= atob("L2Fzc2V0cy9pbWFnZXMvbWFpbl9wcm9mLnBuZw==");
  document.getElementById("el-gato").src = atob("L2Fzc2V0cy9pbWFnZXMvaG9iYmVzLnBuZw==");
</script>

{% include thumbnailCard.html
  headerText = 'Here are some of my scribbles'
  maxItems = 8
  filePath = 'images/scribbles'
  targetPage = '/scribbles'
  linkText = 'More scribbles >'
%}

<div class="card mt-2">
  <h4 class='mb-3'>See what I've been up to:</h4>
  {% assign newpost = site.posts.first %}

  {% include blog_card.html postObject=newpost %}

  <div class="row no-gutters mt-2">
    <a href="/blog/">Hop to the blog ></a>
  </div>
</div>

{% include thumbnailCard.html
  headerText = 'Here are some of my 3D works'
  maxItems = 4
  filePath = 'images/3d'
  targetPage = '/3d'
  linkText = 'More 3D Work (Including animations) >'
%}

