---
layout: home
---

<div class="row justify-content-center align-items-center text-center">
  <div class="col-sm">
    <img src="{{ "assets/images/jumbo.png" | relative_url }}" class="img-fluid" alt="banner image">
    <p class="mb-0 mt-3">Hello! my name is Kevin Aktug.  Welcome to my page!</p>
    <p>Check out a selection of my scribbles below:</p>
  </div>
</div>
{% assign counter = 0 %}
{% for image in site.static_files %}
  {% if image.path contains 'images/scribbles' %}
    {% assign remainder = counter | modulo: 4 %}
      {% if counter == 0 %}
       <div class="row">
      {% elsif remainder == 0 %}
        </div>
        <div class="row">
     {% endif %}
    <div class="col-sm px-1 pt-2 hover-image">
      <a href="{{ site.baseurl }}{{ image.path }}" alt="{{ image.basename }}"><img class="img-fluid" src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.basename }}" /></a>
    </div>
    {% assign counter = counter | plus: 1 %}
  {% endif %}
{% endfor %}
</div>

