body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

body { font-family: Arial, Helvetica, sans-serif; }
.container {
	width: 500px;
	padding-top: 12px;
	float: left;
}
.clear {
	clear: both;
}


body {
	font-family: Arial, Helvetica, sans-serif;
	background: url(images/POMIBG.png) top center no-repeat;
	background-color: #000000;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	width: 1022px;
	height: 100%;
	margin: auto;
}

#download {
	padding-top: 140px;
	padding-left: 60px;
}
#logo {
	padding-top: 420px;
	padding-left: 120px;
	float:left;
}

#logo h1 {
	text-indent: -9999px;
}

#donate {
	float:right;
	padding-right: 570px;
	padding-top: 447px;
}