<footer class="page-footer font-small mt-4">
  <div class="row mx-3">
    <div class="col-6">
      <div class="footer-copyright text-secondary">
        <p class="row text-left">&copy; Copyright&nbsp;<a class="mailto-me" href="#">{{ site.author }}</a>, {{ site.time | date: '%Y' }}</p>
      </div>
    </div>
    <div class="col-6 d-flex">
      <div class="footer-copyright ml-auto text-secondary">
        <p><a href="/privacy_policy/">Privacy Policy</p>
      </div>
    </div>
  </div>
  <script src={{ "/assets/scripts/bootstrap/jquery-slim.min.js" | relative_url }}></script>
  <script src={{ "/assets/scripts/bootstrap/popper.min.js" | relative_url }}></script>
  <script src={{ "/assets/scripts/bootstrap/bootstrap.min.js" | relative_url }}></script>
  <!-- Make links to images into lightbox overlays; use no-lightbox class to disable-->
  <script src={{ "/assets/scripts/js/lightbox.js" | relative_url }}></script>
  <link rel="stylesheet" href="{{ "/assets/css/lightbox.css" | relative_url }}">
  <script src={{ "/assets/scripts/js/main.js" | relative_url }}></script>
</footer>
