<nav class="navbar sticky-top navbar-light bg-light my-5 text-uppercase border-bottom">
  <span class="navbar-brand mb-0 h1" href="#">Kevin Aktug</span>

  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul id="nav-menu" class="ml-auto align-items-center">
    {% for item in site.data.navbar.main %}
      <li class="nav-item">
        <a
          class="{% if item.link == page.url %} active {% endif %} nav-link text-secondary"
          href="{{ item.link }}"
          {% if item.target %}
            target="{{ item.target }}"
          {% endif %}
        >
          {{ item.name }}
        </a>
      </li>
    {% endfor %}
    <li class="work-item nav-item">
      <a class="nav-link text-secondary" href="#">Work</a>
      <ul>
        {% for item in site.data.navbar.work %}
          <li class="nav-item">
            <a
              class="nav-link text-secondary"
              href="{{ item.link }}"
              {% if item.target %}
                target="{{ item.target }}"
              {% endif %}
            >
              {{ item.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
    {% for item in site.data.navbar.work %}
      <li class="work-subitems nav-item">
        <a
          class="nav-link text-secondary"
          href="{{ item.link }}"
          {% if item.target %}
            target="{{ item.target }}"
          {% endif %}
        >
          Work - {{ item.name }}
        </a>
      </li>
    {% endfor %}
    <li class="nav-item">
      <a
        class="nav-link text-secondary"
        href="/blog.feed.xml"
        target="_blank"
        rel="noopener noreferrrer"
      >
        RSS
      </a>
    </li>
  </ul>
</nav>

<noscript>
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      <span aria-hidden="true">&times;</span>
    </button>
    Warning! JavaScript is disabled by your browser, some content may not work
    correctly without it.
  </div>
</noscript>
