---
layout: home
permalink: /about/
---

<div class="row px-3">
  <div class="card-deck">
    <div class="card">
      <img id="about-prof" src="/assets/images/prof_hidden.jpg" class="card-img-top px-4 pt-4" alt="it's me">
      <script>document.getElementById("about-prof").src= atob("L2Fzc2V0cy9pbWFnZXMvcHJvZi5qcGc=");</script>
      <div class="card-body">
        <div class="card-text">
          <p>
            Hello! This is a picture of my face!
          </p>
        </div>
        <div class="card-text d-none d-sm-block">
          <hr>
          <h6>ID Card:</h6>
          <p>
            {% assign curDate='1990-05-24' | date: "%s" %}
            Age: {{ "now" | date: "%s" | minus: curDate | divided_by: 31536000 | round }} Earth Years
          </p>
          <p>
            Location: USA, Earth
          </p>
          <span>Things I Like:</span>
          <ul class="list-unstyled">
            {% for item in site.data.about.likes %}
              <li class="pl-3">{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body p-5">
        <div class="card-text">
          <h5>About Me:</h5>
          <p>
            My name is {{ site.author }}. I graduated with honors from The Art Institute of Washington,
            where I attained my BFA in Game Art and Design.  I am a former 3D Environment Artist, currently serving
            as the {{ site.employer.job }} at <a href="{{ site.employer.url }}" target="_blank">{{ site.employer.name }}</a>.
          </p>
          <hr />
          <h5>About this Site:</h5>
          <p>
            Code used to build this blog is released under the <a href="https://choosealicense.com/licenses/mit/">MIT License.</a>
          </p>
          <p>
            Site <i>content</i> (including images, videos, audio, written content, etc) are released under the <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA License</a>*
          </p>
          <p><small class="text-muted"><i>*unless otherwise noted</i></small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mt-3">
  <div class="card-body">
      <div class="card-text text-center">
        <p>I don't have much presence on the web, but where I do, connect with me!</p>
      </div>
      {% for item in site.social_links %}
        {% assign remainder = forloop.index | minus: 1 | modulo: 4 %}
        {% if forloop.index == 1 %}
          <div class="row justify-content-center">
        {% elsif remainder == 0 %}
          </div>
          <div class="row justify-content-center">
        {% endif %}
        <div class="col-xs-3 m-1">
          <a class="text-secondary {% if item.decodeFlag %} mailto-me {% endif %}" href="{{ item.link }}" {% if item.decodeFlag == false %} target="_blank" {% endif %}>{{ item.name }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
