---
---
@import 'bootstrap/bootstrap';

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .navbar {
  font-weight: 500;
}

.footer-copyright{
  font-size: 0.75rem;
}
