---
---
@import 'bootstrap/bootstrap';

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Montserrat/Montserrat-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .navbar {
  font-weight: 500;
}

img {
  border-radius: 0.2rem;
}

.nk-cookie-banner {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
  border-radius: 0px;
  display: none;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navbar-brand {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;
  cursor: default;
}

.footer-copyright {
  font-size: 0.75rem;
}

.hover-image {
  opacity: 1;
  transition: .5s ease;
}

.hover-image:hover {
  opacity: 0.3;
  transition: .5s ease;
}
